* {
    font-family:Arial, Helvetica, sans-serif;
}

header {
    display: flex; 
    justify-content: center;
    border: solid 2px red; 
    margin: 0 30vh;
    border-radius: 30px;  
}

body {
    background-image: linear-gradient(180deg, #224870, #2A4494)
}

.list-container {
    display: flex; 
    justify-content: center;
    border: solid 2px red;  
}

.list {
    display: flex; 
}

.left-panel {
}

.todo-wrapper {
    display: flex; 
    flex-direction: row; 
}

.todo-wrapper li{
    list-style-type: none;
}

.right-panel {

}